h1 {
    font-size: 2.5em;
    color: #333333;
    text-align: center;
    margin-bottom: 20px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #e2e0e0;
    margin: 0;
    padding: 0;
}
